body {
  font-family:"Lato", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;

}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  /* Alinear elementos en línea */
  justify-content: space-around;
  /* Espacio entre elementos */
  background-color: #43474C;
  /* Color de fondo del menú */
  padding: 15px 30px;
  /* Espaciado interno */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Sombra del menú */
  border-radius: 8px;
}

.menu div {
  position: relative;
  /* Necesario para el dropdown */
}

.menu a {
  color: white;
  /* Color del texto */
  text-decoration: none;
  /* Sin subrayado */
  font-size: 18px;
  /* Tamaño de fuente */
  padding: 10px 15px;
  /* Espaciado interno para los enlaces */
  border-radius: 5px;
  /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* Transiciones suaves */
}

.menu a:hover {
  background-color: #43474C;
  /* Fondo azul brillante al pasar el mouse */
  transform: scale(1.05);
  /* Efecto de aumento al pasar el mouse */
}

.dropdown .modal {
  display: none;
  /* Ocultar por defecto */
  position: absolute;
  /* Posicionamiento absoluto */
  top: 100%;
  /* Colocar en el medio verticalmente */
  left: 50%;
  /* Colocar en el medio horizontalmente */
  transform: translate(-50%, 0%);
  /* Centrar el modal */
  background-color: #FFFDD0;
  /* Fondo crema para el modal */
  border-radius: 8px;
  /* Bordes redondeados del modal */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  /* Sombra del modal */
  padding: 20px;
  /* Espaciado interno del modal */
  z-index: 1000;
  /* Asegurar que esté por encima de otros elementos */
  width: 300px;
  /* Ancho del modal (ajusta según sea necesario) */
}

.dropdown:hover .modal {
  display: block;
  /* Mostrar el modal al pasar sobre el dropdown */
}

.modal h4 {
  font-family: 'Montserrat', sans-serif;
  /* Fuente del encabezado del modal */
  font-size: 1.5em;
  /* Tamaño del encabezado */
  color: #333;
  /* Color del texto del encabezado */
  margin-bottom: 15px;
  /* Margen inferior del encabezado */
}

.modal-content {
  padding-left: 0;
  /* Eliminar padding por defecto */
}

.modal-item {
  margin-bottom: 10px;
  /* Espaciado entre elementos del modal */
}

.modal-item a {
  color: #8B0000;
  /* Color de texto de los enlaces en el modal (rojo oscuro) */
}

.modal-item a:hover {
  text-decoration: underline;
  color: #ffffff;
  text-decoration: none;
  /* Subrayar al pasar el mouse sobre los enlaces del modal */
}

.sub-modal {
  margin-top: 5px;
  /* Espaciado superior para sub-modal */
}

.sub-modal-item a {
  color: #555;
  /* Color más claro para los sub-elementos */
}

.sub-modal-item a:hover {
  text-decoration: underline;
  /* Subrayar al pasar el mouse sobre los sub-elementos */
}

section {}

.video-background {
  position: relative;
  overflow: hidden;
  height: 65vh;

  width: 90%;
border-radius: 8px;
  background-color: #43474C;
  margin-left: 5%;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;

  transform: translate(-50%, -50%);

  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  text-align: center;
  text-shadow: 2px 2px 0 black, -2px 2px 0 black, -2px -2px 0 black,
    2px -2px 0 black;
}

.overlay h1 {
  font-size: 3em;
}

#nosotros {
  background-color: #f4f4f4;





  border-radius: 8px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#nosotros h2 {
  font-family: "Montserrat", sans-serif;

  font-size: 2.5em;

  color: #333;

  text-align: center;

  margin-bottom: 20px;
}

.nosotros-box {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
  padding-top: 15px;
  padding-bottom: 35px;
}

#nosotros p {
  font-family: "Lato", sans-serif;

  font-size: 1.2em;

  line-height: 1.6;

  color: #333;

  max-width: 800px;

  margin: 0 auto;
}

#productos {
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;

  padding-top: 15px;

  border-radius: 8px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
}


#productos h2 {
  font-family: "Montserrat", sans-serif;

  font-size: 2.5em;

  color: #333;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categoria {
  margin-top: 10vh;
}

.categoria h3 {
  font-family: "Montserrat", sans-serif;
  margin-left: 6vh;
  font-size: 2em;

  color: #444;
}



.categoria h4 {
  font-family: "Roboto", sans-serif;
  margin-left: 6vh;
  font-size: 1.5em;

  color: #555;

  margin-top: 20px;
}

.categoria ul {
  list-style-type: disc;

  margin-left: 20px;
}

.categoria p {
  font-family: "Roboto", sans-serif;

  font-size: 1.2em;

  color: #333;

  margin-bottom: 10px;
}

.imagenes-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 35%;
}

.imagenes-productos-marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.imagenes-productos-marcas img {
  width: 150px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: contain;
}

.imagenes-productos img {
  width: 150px;

  height: auto;

  margin: 10px;

  border-radius: 8px;
  cursor: pointer;
  object-fit: contain;
}


.categoria-contenedor {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.brand-style {
  text-align: center;
}

.dist-style {
  align-items: center;
}

footer {
  background-color: #333;

  color: #fff;

  text-align: center;

  padding: 20px;

  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info,
.quick-links {
  margin-bottom: 5vh;
text-align: center;
}

.contact-info h4 {
  font-family: "Montserrat", sans-serif;

  font-size: 1.5em;

  color: #fff;

  text-align: start;
}

.contact-box {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-icon {
  width: 24px;

  height: 24px;
}

.links {
  margin-top: 40px;
}

.contact-info {
  text-align: start;
  gap: 3px;
  display: flex;
  flex-direction: column;
}

.footer-section-left {
  text-align: end;
  margin-right: 10vh;
}

.footer-section-right {
  text-align: start;

  display: flex;
  flex-direction: column;
}

.footer-content p {
  margin: 5px 0;

  font-family: "Roboto", sans-serif;

  font-size: 1em;
}

.quick-links h4 {
  font-family: "Montserrat", sans-serif;

  font-size: 1.5em;

  color: #fff;
}

.quick-links ul {
  list-style-type: none;

  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
}

.quick-links a {
  color: #fff;

  text-decoration: none;
}

.quick-links a:hover {
  color: blue;
}

.whatsapp-icon {
  position: fixed;

  bottom: 20px;

  right: 20px;

  width: 60px;

  height: 60px;

  background-color: #25d366;

  border-radius: 50%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1000;
}

.icon {
  width: 90%;

  height: auto;
}

.map-link {
  color: #007bff;

  text-decoration: none;

  font-weight: bold;
}

.map-link:hover {
  text-decoration: underline;

  color: #0056b3;
}

.footer-divisor-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-divisor {
  border-top: 1px solid #fff;
  margin: 20px 0;
  width: 50%;
}

.phone-link {
  color: #007bff;

  text-decoration: none;

  font-weight: bold;
}

.phone-link:hover {
  text-decoration: underline;

  color: #0056b3;
}

@media screen and (max-width: 1429px) {
  .footer-content {
    display: flex;
    flex-direction: column;

  }

  .footer-section-left {
    text-align: end;
    margin-right: 0;
  }

  .contact-info {
    align-items: center;
  }

  .overlay {
    top: 12%;
    width: 100%;
    font-size: 12px;
  }
}