html {
  -webkit-text-size-adjust: none; /* Desactiva el ajuste de tamaño de texto en WebKit */
  text-size-adjust: none; /* Para otros navegadores */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



header {
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  height: 100px;
}

.logo img {
  height: 75px;
}


video {
  object-fit: fill;
}

.video-background {
  position: relative;
  overflow: hidden;
  height: 65vh;
  border-radius: 8px;
  background-color: #43474c;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menu {
  display: flex;

  justify-content: space-around;

  padding-top: 15px;
  padding-bottom: 15px;

  border-radius: 8px;
}

.menu div {
  position: relative;
}

.menu a {
  color: #43474c;
  border: none;

  text-decoration: none;

  font-size: 18px;

  padding: 10px 0;


  border-radius: 5px;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  object-fit: fill; /* This will stretch the video */
}

.menu a:hover::after {
  width: 100%;
  right: 0;
}

.menu a::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #7C7E81;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all .5s;
  will-change: width;
  bottom: -3px;
}

.dropdown .modal {
  text-align: center;
  display: none;

  position: absolute;

  top: 100%;

  left: 50%;

  transform: translate(-50%, 0%);

  background-color: #fff;

  border-radius: 8px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  z-index: 1000;

  width: 35vh;
}

.dropdown:hover .modal {
  display: block;
}

.modal h4 {
  font-size: 1.5em;

  color: #333;

  margin-bottom: 15px;
}

.modal-content {
  padding-left: 0;
}

.modal-item {
  margin-bottom: 10px;
}

.modal-item a {
  color: #43474c;
}

.modal-item a:hover {
  text-decoration: underline;
  color: #43474c;
  text-decoration: none;
}

.sub-modal {
  margin-top: 5px;
}

.sub-modal-item a {
  color: #555;
}

.sub-modal-item a:hover {
  text-decoration: underline;
}


.overlay {

  width: 100%;
  color: white;

  text-align: center;
  /* text-shadow: 2px 2px 0 black, -2px 2px 0 black, -2px -2px 0 black,
    2px -2px 0 black; */
}

.overlay h1 {
  font-size: 58px;
  background: linear-gradient(to right, #2B2C2D, #42464B);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation{
  margin-bottom: 4rem;
}
#nosotros {
  border-radius: 8px;
}

#nosotros h2 {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.nosotros-box {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 35px;
}

#nosotros p {
  font-size: 1.2em;

  line-height: 1.6;

  max-width: 1000px;

  margin: 0 auto;
}

#productos {
  margin-top: 20px;
  margin: 0 auto;
}

.dropdown {
  position: relative;
}

#productos h2 {
  font-size: 2.5em;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categoria {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 3rem 1rem;
}

.titulo-categoria {
  margin-left: 6vh;
  font-size: 2em;
  color: #333;
  margin-right: 4vh;
  width: 20vh;
}

.category-header {
  width: 30%;
}

.categoria h4 {
  margin-left: 6vh;
  font-size: 1.5em;
  color: #333;
  margin-top: 20px;
}

.categoria ul {
  list-style-type: disc;
  margin-left: 20px;
}

.categoria p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.imagenes-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
}

.imagenes-productos-marcas {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.imagenes-productos-marcas img {
  width: 110px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: fill;
}

.imagenes-productos img {
  width: 170px;
  height: 180px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  object-fit: fill;
}

.categoria-contenedor {
  display: flex;
  justify-content: space-between;
}

.titulo-categoria-t {
  font-size: 2.5em;
  color: #333;
}

.categoria-box {
  display: flex;
  flex-direction: column;
  max-width: 644px;
}
.categoria-sub-box {
  display: flex;
  flex-direction: column;
}
.brand-style {
  text-align: center;
}

.dist-style {
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-info,
.quick-links {
  margin-bottom: 20px;
  text-align: center;
}

.contact-info h4 {
  font-size: 1.5em;
  color: #fff;
  text-align: start;
}

.contact-box {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-icon {
  width: 24px;

  height: 24px;
}

.links {
  display: flex;
  flex-direction: column;
}

.contact-info {
  text-align: start;
  gap: 3px;
  display: flex;
  flex-direction: column;
}

.footer-section-left {
  text-align: end;
  margin-right: 10vh;
}

.footer-section-right {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.footer-content p {
  margin: 5px 0;
  font-size: 1em;
}

.quick-links h4 {
  font-size: 1.5em;
  color: #fff;
}

.quick-links ul {
  list-style-type: none;

  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
}

.quick-links a {
  color: #fff;

  text-decoration: none;
}

.quick-links a:hover {
  color: #007bff;
}

.whatsapp-icon {
  position: fixed;

  bottom: 20px;

  right: 20px;

  width: 60px;

  height: 60px;

  background-color: #25d366;

  border-radius: 50%;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 1000;
}

.icon {
  width: 90%;

  height: auto;
}

.map-link {
  color: #007bff;

  text-decoration: none;

  font-weight: bold;
}

.map-link:hover {
  text-decoration: underline;

  color: #0056b3;
}

.footer-divisor-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-divisor {
  border-top: 1px solid #fff;
  margin-bottom: 20px;
  width: 50%;
}

.phone-link {
  color: #007bff;

  text-decoration: none;

  font-weight: bold;
}

.phone-link:hover {
  text-decoration: underline;

  color: #0056b3;
}

.mobile-menu {
  display: none;
  position: relative;
}

@media screen and (max-width: 1429px) {
  .footer-content {
    display: flex;
    flex-direction: column;
  }



  .menu {
    display: none;
  }

  .footer-section-left {
    text-align: end;
    margin-right: 0;
  }

  .contact-info {
    align-items: center;
  }

  .overlay {
   z-index: -1;
    width: 100%;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .categoria-contenedor {
    display: block;
  }
  .imagenes-productos {
    width: 100%;
    justify-content: space-evenly;
  }
  .categoria-box {
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .titulo-categoria {
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  .mobile-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 30vh;
    gap: 5vh;
  }

  #burger-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .menu-content {
    text-align: center;
    display: none;

    position: absolute;

    top: 60px;
    right: 0;
    transform: translate(0%, 0%);

    background-color: #fff;

    border-radius: 8px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

    z-index: 1000;

    width: auto;
  }

  .menu-content div {
    padding: 10px;
  }

  .modal {
    display: none;
  }

  .modal-content {
    padding: 10px;
  }

  .modal-item {
    margin: 5px 0;
    text-decoration: none;
  }

  .sub-modal {
    padding-left: 20px;
  }

  .menu-nosotros-mobile {
    text-decoration: none;
  }
  .menu-mobile-box {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-contact-button {
    color: #fff;
    background-color: #43474c;
    width: auto;
    height: 6vh;
    border-radius: 28px;
    border: none;
  }
  header {
    justify-content: space-around;
  }
  .nosotros p{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

main {
  max-width: 1400px;
  margin: auto;
}

video {
  object-fit: fill;
}

.video-background {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
/*   padding-top: 41.25%; /* 16:9 Aspect Ratio */ 
  overflow: hidden;
  margin-top: 4rem;
  border-radius: 4px;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .video-background {
  /*   padding-top: 56.25%; /* 16:9 Aspect Ratio */ 
    margin-top: 15vh;
  }

  .links p a{
    font-size: 15px;
  }

  .contact-info {
    padding-top: 20px;
  }

  .titulo-categoria-t {
    font-size: 1.9rem;
    color: #333;
  }  
  
  #copy {
    padding-bottom: 20px;
  }

  .contact-info-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }

  .video-background {
    margin-top: 3rem;
  }

  .imagenes-productos img {
    width: 140px;
    height: 150px;
  }

  .overlay {
    width: 100%;
    font-size: 12px;
    bottom: 65vh;
    z-index: -1;
  }

  .overlay h1 {
    font-size: 28px;
  }
  #contacto{
    padding: 0;
  }
  .footer-content p{
    font-size: 0.7rem;
  }
  /* .whatsapp-icon {
    bottom: 10%;
    right: 15%;
  } */
  #nosotros p{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #header {
    margin-top: 0;
  }
}


